
body {
    background-color: black;
    color: white;
}
nav {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: white;
  }
  
  a:visited {
    color: lightgray;
  }
  
  a:hover {
    color: yellow;
  }
  
  a:active {
    color: blue;
  }
 h1, h2, p {
    text-align: center;
  }
  h1 {
    font-size: 30px;
  }
  